<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}"> -->
 </head>

<body>
<h1>Rock On {{session['user_first_name']}}!!!</h1>
<a href="/mybands">my bands</a>
<a href="/home">dashboard</a>
<form action="/users/logout">
    <input type="submit" value="log out">
</form>
<h1>create a band</h1>
<div id="warning">
    <p>{% with messages = get_flashed_messages(category_filter = ['validate_band']) %}     
        {% if messages %}                           
                {% for message in messages %}           
                    <p>{{message}}</p>                 
                {% endfor %}
            {% endif %}
        {% endwith %}</p>
</div>
<div id="form">
    <form action="/band/new/process" method="post">
        <input type="hidden" name="user_id" value="{{session.userid}}">
        <p>
            name
            <input type="text" name="name"> 
        </p>
        <p>
            genre
            <input type="text" name="genre">
        </p>
        <p>
            home town
            <input type="text" name="home_town">
        </p>
        <input type="submit" value="submit">
    </form>
</div>
</body>


</html>

