<!DOCTYPE html>

<head>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/css/style.css') }}"> -->
 </head>

<body>

<h1>Rock on {{session['user_first_name']}} </h1>
<a href="/mybands">my bands</a>
<a href="/home">dashboard</a>
<form action="/users/logout">
    <input type="submit" value="log out">
</form>

<h2>my bands</h2>
<div id="myBands">
   
   
   {% for x in bands %}
      {% if user.id == x.user_id %}
         <p>{{x.name}} <a href="/band/edit/{{ x.id }}">edit</a> | <a href="/band/delete/{{ x.id }}">delete</a></p>
      {% endif %}
   {% endfor %}
</div>

    
    

</body>


</html>