* {
    margin: 0px;
    padding: 0px;
}

.alert h2 {
    color: red;
}

#container {
    display: flex;
}

#leftCol {
    padding: 10px;
}

#rightCol {
    padding: 10px
}

#header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#welcome_logout {
    display: flex;
    align-items: center;
}

#welcome_logout a {
    margin-left: 5px;
}