<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='/styles/style.css') }}">
</head>

<body>


    <h1>Add User</h1>
<form action="/create_user" method="POST">
    <p><label for="first_name">First Name:</label>
    <input type="text" name="first_name"></p>
   <p <label for="last_name">Last Name:</label>
    <input type="text" name="last_name"></p>
   <p> <label for="email" >Email:</label>
   <input type="text" name="email">
   <p> <input type="submit" value="Add User"></p>
</form> 
</form>

<a href="/users/all">show current users</a>

</body>

</html>